
body {
    background: black;
    
}
.resim img {
  position: relative; top: 4cm; left: 8cm;
  width: 200px;
  float: left;
  
}
.one img{
    border: 2px solid rgb(199, 74, 74);
}
.two img{
    border: 2px solid rgb(199, 74, 74);
}
.three img{
    border: 2px solid rgb(199, 74, 74);
}
.four img{
    border: 2px solid rgb(199, 74, 74);
}
.resim img {
    position: relative;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
}
.resim img:hover{
    z-index:4;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);  
    -moz-transform: scale(1.5);
    transform: scale(1.5);

}
